<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a href="/shelters">View All Shelters</a>
  <a href="/pets">View All Pets</a>
</div>

<div style="padding-left:16px">
  <h1> Adopt, Don't Shop! </h1>
  <img src="https://external-preview.redd.it/tgNsVYM0dPeSsy-0hak_yKgRTNA5mAFy2DkUbv7PFnM.jpg?auto=webp&s=38f8848b85dd5ea92daa341a01be2f9e5a7e7c19" alt="Pet Image" style="width:500px;height:600px;">
</div>

</body>
</html>
